{% extends "base.html" %}

{% block title %}Welcome to Your Clinic{% endblock %}

{% block content %}
    <h1>Welcome to Our Your Clinic</h1>
    <h2>Our Equipment</h2>
    <div class="row">
        {% for item in equipment %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

